@import compass

// Color
$black: #333
$white: #FAFAFA
$blue:  #2ba6cb

body
  background: center center $black no-repeat
  color: $white
  -webkit-font-smoothing: initial
  +background-size(cover)

#content_area
  border-top: 3px solid #000

#content_box
  background: url('/images/backgrounds/background-texture.png') left top repeat
  border-right: rgba(0,0,0,0.8)

#sidebar
  text-align: right
  .side-nav
    position: fixed
    top: 10px
    left: 15px
    width: 201px

@media only screen and (max-width: 767px)
  #sidebar
    .side-nav
      width: 150px

@media only screen and (max-width: 700px)
  #sidebar
    text-align: center
    width: 100%
    .side-nav
      position: relative
      width: 100%

#logo
  background: url('/images/logo.png') center center no-repeat
  color: transparent
  display: block
  width: 60px
  height: 60px
  margin: 0
  text-indent: -9999px
  +border-radius(50%)
  +background-size(cover)

#content
  background: url('/images/backgrounds/highlight.png') right top no-repeat

@media only screen and (max-width: 700px)
  #content
    width: 90%

.copyright
  a
    display: inline

// Page Specific
.home
  padding-top: 4em

// Defaults
body
  ul.side-nav li.divider
    border-top: 1px solid rgba(255,255,255,0.2)
  ul,li,ol
    list-style-position: inside
  ul
    list-style-type: square
  h2
    font-size: 20px
    letter-spacing: 1px


