<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class='no-js'>
  <!--<![endif]-->
  <head
    {% if page.slug == 'home' %}
    prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# profile: http://ogp.me/ns/profile#"
    {% endif %}
    >
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>  
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="css/app.css">
    <script src="js/foundation/jquery.js"></script>
    <script src="js/scripts.js"></script>
    <script src="js/foundation/app.js"></script>
    <link rel="icon" href="images/favicons/favicon_32.png" type="image/x-icon" />
    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    {% if page.slug == 'home' %}
    <meta property="og:type" content="profile" />    
    <meta property="og:title" content="King Sidharth" />
    <meta property="og:url" content="http://www.kingsidharth.com" />
    <meta property="og:description" content="King Sidharth is a 21 years old Entrepreneur, Designer, Artist & Public Speaker from India. He is co-founder of Web Mutiny and is oftne found solving design & startup problems." />
    <meta property="og:image" content="https://secure.gravatar.com/avatar/4706f45842b8fc2c032e0d1114d01931?s=420" />
     <meta property="profile:first_name"      content="King">
     <meta property="profile:last_name"       content="Sidharth">
     <meta property="profile:gender"          content="male">
     <meta property="fb:profile_id"           content="kingsidharth">    
    {% endif %}
  </head>
  <body style="background: url('/images/backgrounds/{{page.background}}') right center fixed no-repeat; 
    background-size: cover;">
    <div id='header_area'></div>
    <!-- #header_area -->
    <div id='content_area'>
      <div class='row'>
        <div id='content_box'>
          <div id='sidebar'>
            <ul class='side-nav'>
              <li class='name'>
                {% if page.slug == 'home' %}
                  <h1 id='logo'>King Sidharth</h1>
                {% else %}
                  <div id='logo'>King Sidharth</div>
                {% endif %}
              </li>
              <li class='divider'></li>
              <li class="{% if page.slug == 'home' %} active {% endif %}">
                <a href='/'>Home</a>
              </li>
              <li class="{% if page.slug == 'projects' %} active {% endif %}">
                <a href='/projects'>Projects</a>
              </li>
              <li class="{% if page.slug == 'speaking' %} active {% endif %}">
                <a href='http://64notes.com/speaking'>Speaking</a>
              </li>
              <li class="{% if page.slug == 'writings' %} active {% endif %}">
                <a href='/writings'>Writings</a>
              </li>
              <li class="{% if page.slug == 'media-mentions' %} active {% endif %}">
                <a href='/media-mentions'>Media Mentions</a>
              </li>
              <li  class="{% if page.slug == 'contact' %} active {% endif %}">
                <a href='/contact'>Contact</a>
              </li>
              <li class='divider'></li>
              <!--social media -->
              <li class='facebook'>
                <div class="fb-subscribe"
                data-href="https://www.facebook.com/KingSidharth"
                data-layout="button_count" data-show-faces="false" data-colorscheme="dark"
                data-font="lucida grande" data-width="450"></div>
              </li>
              <li class='twitter'>
                <a href="https://twitter.com/kingsidharth" class="twitter-follow-button" data-show-count="false"
                data-show-screen-name="false">Follow @kingsidharth</a>
              </li>
              <li class='gplus'>
                <a href="https://plus.google.com/100630005600562803456/" rel="author">Google+</a>
              </li>
              <li class='divider'></li>
              <li class='copyright hide-for-small'>
                <small>
                  &copy; 2009-2012.
                  <a href="/colophon">Colophon</a>                    
                </small>
              </li>
            </ul>
          </div>
          <!-- #sidebar -->
          <div id='content'>
            <!-- /content here -->
            {{ content }}
          </div>
          <!-- #content -->
        </div>
      </div>
    </div>
    <!-- #content_area -->
  <script>
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-4910697-13']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

    (function(doc, script) {
      var js,
      fjs = doc.getElementsByTagName(script)[0],
      add = function(url, id) {
        if (doc.getElementById(id)) {return;}
        js = doc.createElement(script);
        js.src = url;
        id && (js.id = id);
        fjs.parentNode.insertBefore(js, fjs);
      };
      <!-- / Google Analytics -->
      add(('https:' == location.protocol ? '//ssl' : '//www') + '.google-analytics.com/ga.js', 'ga');
      <!-- / Facebook SDK -->
      add('//connect.facebook.net/en_US/all.js', 'facebook-jssdk');
      <!-- / Twitter SDK -->
      add('//platform.twitter.com/widgets.js', 'twitter-wjs');
    }(document, 'script')); 
  </script>
  <div id='fb-root'></div>
  
  </body>
  <!-- body -->
</html>
<!-- Looking for soruce code? Check this https://github.com/kingsidharth/kingsidharth.github.com -->
